.card-info{
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: white;
}

.card-info img{
  height: 500px;
  width: 500px;
}
