/* cart card */
.card-cart{
  display: block;
}

.card-cart img{
  height: 200px;
  width: 75%;
}
.cart-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* width: 200px; */
}